src/main/resources/etc/resources/persistenceResources.xsd

<xs:schema elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
 	<xs:element name="persistence">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="resources" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element type="xs:string" name="serverName" minOccurs="0"/>
                            <xs:element type="xs:string" name="serverPort" minOccurs="0"/>
                            <xs:element type="xs:string" name="instanceId" minOccurs="0"/>
                            <xs:element type="xs:string" name="repositoryId"/>
							<xs:element type="xs:string" name="userName" minOccurs="0"/>
							<xs:element type="xs:string" name="password" minOccurs="0"/>
							<xs:element name="options">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="option" maxOccurs="unbounded">
											<xs:complexType>
												<xs:simpleContent>
													<xs:extension base="xs:string">
														<xs:attribute type="xs:string" name="id" use="required"/>
														<xs:attribute type="xs:string" name="value" use="required"/>
													</xs:extension>
												</xs:simpleContent>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute type="xs:string" name="id" use="required"/>
						<xs:attribute type="xs:string" name="factoryResourcesId"/>
						<xs:attribute type="xs:boolean" name="default"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>